.places__text {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
  color: #fff;
  font-style: normal;
}

.places__text:nth-last-of-type(1) {
  margin-bottom: 0;
}

@media screen and (max-width: 999px) {
  .places__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 689px) {
  .places__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}
