.content {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 92px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .content {
    padding-top: 20px;
  }
}

@media screen and (max-width: 999px) {
  .content {
    row-gap: 88px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 689px) {
  .content {
    row-gap: 64px;
  }
}
