.footer__nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 18px;
}

@media screen and (max-width: 689px) {
  .footer__nav {
    flex-direction: column;
    row-gap: 32px;
  }
}
