.lead__image-title {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  align-self: flex-start;
}

@media screen and (max-width: 999px) {
  .lead__image-title {
    margin-left: 24px;
  }
}

@media screen and (max-width: 665px) {
  .lead__image-title {
    margin-left: 16px;
  }
}
