.place {
  display: grid;
  row-gap: 48px;
  column-gap: 3.6%;
  grid-template-columns: 460px 1fr;
  /* grid-template-columns: repeat(2, 1fr); */
}

@media screen and (max-width: 1199px) {
  .place {
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 999px) {
  .place {
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 689px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
