.places__link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: end;
  justify-self: start;
}

@media screen and (max-width: 689px) {
  .places__link-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
