.intro__content {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  max-width: 690px;
  padding-left: 148px;
  padding-right: 148px;
}

@media screen and (max-width: 1199px) {
  .intro__content {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 999px) {
  .intro__content {
    max-width: none;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 689px) {
  .intro__content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
